/* &display=swap */
/* 
@font-face {
	font-family: "...";
	src: url("../fonts") format("woff2"), url("../fonts") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
} 
*/

@import "null.css";
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap);
body {
	font-family: "Lato", sans-serif;
	font-size: 16px;
	color: #424551;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
	max-width: 1230px;
	margin: 0 auto;
	padding: 20px 0;
}
.header {
	text-align: center;
	color: #1e212c;
	margin: 0 0 80px 0;
}
.header-subtitle {
	font-weight: 700;
	text-transform: uppercase;
	line-height: 1.5;
	letter-spacing: 1px;
	margin: 0 0 8px 0;
}
.header-title {
	font-weight: 900;
	font-size: 46px;
	line-height: 1.3;
	text-transform: capitalize;
}
.main {
	margin: 0 0 50px 0;
}
.item {
	max-width: 390px;
	display: inline-block;
	height: 450px;
	overflow: auto;
	margin: 0 5px 50px;
}
.item.big {
	max-width: 705px;
}
.item.little {
	max-width: 495px;
}
.item-img img {
	max-width: 100%;
}
.item-title {
	color: #1e212c;
	font-weight: 700;
	font-size: 20px;
	line-height: 1.5;
	margin: 0 0 8px 0;
}
.item-text {
	line-height: 1.6;
}
.footer {
	display: none;
}
