@import "null.css";
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap);
body {
	font-family: "Lato", sans-serif;
	font-size: 16px;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
	padding: 20px 0;
	max-width: 810px;
	margin: 0 auto;
}
.header-title {
	font-weight: 900;
	font-size: 46px;
	line-height: 1.3;
	margin: 0 0 90px 0;
}
.main-img {
	margin: 0 0 60px 0;
}
.main-text-700 {
	font-size: 20px;
	line-height: 1.5;
	font-weight: 700;
}
.main-text-700.margin {
	margin: 48px 0 48px 60px;
}
.main-text,
.main-list li,
.footer-text {
	line-height: 1.6;
}
.main-list {
	margin: 0 0 24px 32px;
}
.main-list li {
	margin: 0 0 4px 0;
}
.main p {
	margin: 0 0 24px 0;
}
.footer-text {
	margin: 0 0 40px 0;
}
