/* &display=swap */
/* 
@font-face {
	font-family: "...";
	src: url("../fonts") format("woff2"), url("../fonts") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
} 
*/

@import "null.css";
@font-face {
	font-family: "EnhancedDot";
	src: url("../fonts/EnhancedDotDigital-7.woff2") format("woff2"),
		url("../fonts/EnhancedDotDigital-7.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Yahfie";
	src: url("../fonts/Yahfie.woff2") format("woff2"), url("../fonts/Yahfie.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
body {
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
}
.wrapper {
	min-height: 100%;
	overflow: auto;
	padding: 15px;
	max-width: 1230px;
	margin: 0 auto;
}
.header {
	text-align: center;
}
.header-title {
	font-weight: 900;
	font-size: 46px;
	line-height: 1.3;
	margin: 0 0 30px 0;
	color: darkslategrey;
}
.header-subtitle {
	font-weight: 600;
	font-size: 26px;
	line-height: 1.5;
	margin: 0 0 20px 0;
	color: slategray;
}
.header-img {
	margin: 0 0 30px 0;
	width: 100%;
}
.main-text.text {
	text-align: justify;
	color: slategray;
	margin: 0 0 30px 0;
}
.text-blok1 {
	max-width: 300px;
	max-height: 150px;
	overflow: hidden;
}
.text-blok2 {
	max-width: 300px;
	margin: 0 0 0 300px;
	font-family: "EnhancedDot";
}
.text-blok3 {
	max-width: 300px;
	margin: 0 0 0 600px;
	font-family: "Yahfie";
}
.text-blok4 {
	max-width: 300px;
	margin: 0 0 0 900px;
	max-height: 150px;
	overflow: auto;
}
.main-items {
	max-width: 900px;
	margin: 0 auto;
}
.main-items.item {
	display: inline-block;
	max-width: 290px;
	margin: 0 3px;
	height: 500px;
	overflow: auto;
}
.item-img img {
	width: 100%;
}
.item-title {
	font-weight: 600;
	font-size: 22px;
}
.item-text {
	text-align: right;
}
